/* Tambahkan di awal CSS untuk memastikan semua elemen box-sizing */
* {
    box-sizing: border-box;
}

/* Gaya untuk header */
header {
    background-color: #97cbef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap; /* Membuat elemen di dalam header bisa berbaris baru jika diperlukan */
}

.header {
    padding-top: 16px;
}

.logo-del,
.logo-lobster {
    width: 90px;
    height: 90px;
    display: flex;
    margin-left: 50px;
}

.text-header {
    display: flex;
    padding-top: 25px;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(38, 43, 46);
}

.left-right {
    padding-top: 65px;
}

.content-parameter,
.content-panel {
    background-color: rgb(225, 240, 247);
    align-content: center;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 30px;
}

/* Pengaturan lebar untuk colom */
.content-parameter, .content-panel {
    width: 100%;
    height: 250px;
    margin: 0 auto 20px auto;
}

/* Media Query untuk layar kecil (mobile) */
@media (max-width: 768px) {
    .logo-del, .logo-lobster {
        margin: 0 auto;
    }

    .text-header {
        padding-left: 0;
        text-align: center;
    }

    .content-parameter, .content-panel {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Media Query untuk layar sedang (tablet) */
@media (min-width: 768px) and (max-width: 992px) {
    .text-header {
        padding-left: 0;
        text-align: center;
    }

    .content-parameter, .content-panel {
        width: 80%;
        margin: 0 auto 20px auto;
    }
}

/* Media Query untuk layar besar (desktop) */
@media (min-width: 992px) {
    .text-header {
        padding-left: 130px;
    }

    .content-parameter, .content-panel {
        width: 550px;
    }
}
